.company-logo {
    width : 80px;
}

.header-component {
    display: flex;
    
}
.hearder-list {
    display: flex;
    padding-left: 63%;
}

.hearder-list li {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
}

.app-container{
    padding: 0px 10px;
}

.body-container {
    background-color: aliceblue;
    padding: 0 12%;
}
.items-logo{
    width:150px;
    padding-right: 10px;
}
.food-logo-container{
    display: flex;
    overflow: scroll;
    overflow-y: auto;
}